@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #3a86ff;
  height: 165vh;
  max-height: 85rem;
  position: relative;
  font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #3a86ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
img,
div,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 0.5%;
  font-size: 0.9rem;
  width: 95%;
}

.diagonal {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 58%, 0 30%);
          clip-path: polygon(0 0, 100% 0%, 100% 58%, 0 30%);
}

.r-title {
  color: #3a86ff;
  font-size: 1.4rem;
}

.container {
  height: 90%;
  width: 50vw;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5% auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .col-1 {
  height: 100%;
  width: 38%;
}

.container .col-1 .image {
  height: 40%;
}

.container .col-1 .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .col-1 .profile {
  height: 25%;
  background-color: #0d1b2a;
  padding: 5% 10% 0 10%;
}

.container .col-1 .profile .title h1 {
  font-size: 1.6rem;
  letter-spacing: 0.04rem;
  color: white;
}

.container .col-1 .profile .title h3 {
  font-size: 1rem;
  color: #3a86ff;
}

.container .col-1 .profile .info-container {
  margin-top: 7%;
  color: white;
}

.container .col-1 .profile .info-container .info {
  margin-top: 8%;
}

.container .col-1 .profile .info-container .info i {
  margin-right: 4%;
  width: 1rem;
}

.container .col-1 .hobbies {
  height: 30%;
  margin: 10%;
}

.container .col-1 .hobbies .grid {
  margin-top: 18%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.container .col-1 .hobbies .grid .hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45%;
  color: #373c42;
}

.container .col-1 .hobbies .grid .hobby i {
  margin-bottom: 15%;
  font-size: 1.5rem;
}

.container .col-2 {
  width: 65%;
  margin: 2%;
}

.container .col-2 .bio {
  background-color: #3a85ff52;
}

.container .col-2 .bio p {
  padding: 3%;
  font-weight: 400;
}

.container .col-2 .skills .skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  margin-top: 2%;
}

.container .col-2 .skills .skill-container .skill {
  border: 0.1rem solid #3a86ff;
  border-radius: 1rem;
  width: 20%;
  padding: 1% 0;
  text-align: center;
}

.container .projects {
  margin: 3.5% 0;
}

.container .projects .project-container .project {
  margin: 2% 0;
  padding: 1.5%;
}

.container .projects .project-container .project:nth-of-type(1) {
  background-color: #06d69e1e;
  border-left: 0.2rem solid #06d6a0;
}

.container .projects .project-container .project:nth-of-type(2) {
  background-color: #e639471e;
  border-left: 0.2rem solid #e63946;
}

.container .projects .project-container .project:nth-of-type(3) {
  background-color: #ffd1661e;
  border-left: 0.2rem solid #ffd166;
}

.container .projects .project-container .project .title {
  font-size: 1rem;
  margin-bottom: 0.5%;
}

.container .experience {
  margin: 3.5% 0;
}

.container .experience .exp-container .exp {
  margin: 2% 0;
  padding: 1.5%;
}

.container .experience .exp-container .exp:nth-of-type(1) {
  background-color: #06d69e1e;
  border-left: 0.2rem solid #06d6a0;
}

.container .experience .exp-container .exp:nth-of-type(2) {
  background-color: #e639471e;
  border-left: 0.2rem solid #e63946;
}

.container .experience .exp-container .exp:nth-of-type(3) {
  background-color: #ffd1661e;
  border-left: 0.2rem solid #ffd166;
}

.container .experience .exp-container .exp .title {
  font-size: 1rem;
  margin-bottom: 0.5%;
}

.container .education {
  margin: 3.5% 0;
}

.container .education .edu-container .edu {
  margin: 2% 0;
  padding: 1.5%;
}

.container .education .edu-container .edu:nth-of-type(1) {
  background-color: #06d69e1e;
  border-left: 0.2rem solid #06d6a0;
}

.container .education .edu-container .edu:nth-of-type(2) {
  background-color: #e639471e;
  border-left: 0.2rem solid #e63946;
}

.container .education .edu-container .edu:nth-of-type(3) {
  background-color: #ffd1661e;
  border-left: 0.2rem solid #ffd166;
}

.container .education .edu-container .edu .title {
  font-size: 1rem;
  margin-bottom: 0.5%;
}

.container .education .edu-container .edu .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .education .edu-container .edu .details span {
  font-size: 0.9rem;
}

.container .education .edu-container .edu .details span:first-of-type {
  width: 80%;
}

.container .achievements ul {
  margin-top: 2%;
}

.container .achievements ul li {
  margin: 2% 0;
  padding: 1.5%;
}

.container .achievements ul li:nth-of-type(1) {
  background-color: #06d69e1e;
  border-left: 0.2rem solid #06d6a0;
}

.container .achievements ul li:nth-of-type(2) {
  background-color: #e639471e;
  border-left: 0.2rem solid #e63946;
}

.container .achievements ul li:nth-of-type(3) {
  background-color: #ffd1661e;
  border-left: 0.2rem solid #ffd166;
}
/*# sourceMappingURL=style.css.map */